* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #b5b7c9;
}

.stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    font-size: 2rem;
}

.watch{
    margin-top: 3%;
    background: #5F6494;
    height: 50vh;
    width:50%;
    min-height: 50vh;
    max-width: 800px;
    
}
.stop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp{
    margin-top: 17%;
    text-align: center;
    font-size: 2.8rem;
    color: white;
}

/* Estilo para os botões */
.flag{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
}
.start-btn {
    background-color: #8FF299;
    color: black;
    border: none;
    padding: 1rem 1.8rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
}

.start-btn:hover {
    background-color: #6bb373;
    color: white;
}

.pause-btn{
    background-color: #8fe6f2;
    color: black;
    border: none;
    padding: 1rem 1.8rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
}

.pause-btn:hover{
    background-color: #65a5ad;
    color: white;
}

.stop-btn{
    background-color: #e78b8b;
    color: black;
    border: none;
    padding: 1rem 1.8rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
}

.stop-btn:hover{
    background-color: #995c5c;
    color: white;
}

@media (max-width: 1024px) {
    .watch {
        width: 90%; 
    }

    .temp {
        font-size: 1.5rem; 
    }
}

@media (max-width: 768px) {
    .watch {
        width: 95%; 
        height: 40vh; 
    }

    .temp {
        margin-top: 28%;
        font-size: 2rem; 
    }

    .start-btn,
    .pause-btn,
    .stop-btn {
        padding: 0.7rem 1.1rem; 
        font-size: 1.5rem; 
    }
}
